*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html,body{
    height: 100%;
}
.clear{
    clear: both;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
header{
    padding: 20px 2%;
}
header .logo img{
    float: left;
    width: 236px;
}
nav.menu-mobile{
    width: 28px;
    height: 28px;
    margin-top: 7px;
    background-image: url('../img/menu-mobile.png');
    background-size: 100% 100%;
    cursor: pointer;
    display: none;
    float: right;
}
nav.menu-mobile ul{
    z-index: 999;
    background-color: white;
    position: absolute;
    left: 0;
    top: 60px;
    text-align: center;
    width: 100%;
    display: none;
}
nav.menu-mobile ul li{
    text-transform: uppercase;
}
nav.menu-mobile ul li{
    padding: 10px 0;
}
header nav.menu-desktop{
    padding: 8px 0;
    float: right;
}
header nav.menu-desktop ul{
    list-style-type: none;
}
header nav.menu-desktop ul li{
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 20px;
}
header ul a{
    color: #b4b4b4;
    text-decoration: none;
}

/***Termina-Header***/

.mosaico-single{
    float: left;
    width: calc(100% / 6);
}
.img-mosaico-single{
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 5px solid white;
}

/***Termina-Mosaico***/

section.servicos > .container{
    max-width: 800px;
    display: flex;
    align-items: center;
    position: relative;
    top: -30px;
    text-align: center;
}
section.servicos > .container .box-servico{
    background-image: url('../img/icone_dente.png');
    background-size: 18px 18px;
    background-position: center calc(100% - 5px);
    background-repeat: no-repeat;
}
section.servicos > .container .box-servico h2{
    color: white;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
}
section.servicos > .container .box-servico p{
    color: white;
    font-weight: normal;
    margin-top: 12px;
    font-size: 13px;
}
section.servicos > .container .box-servico:nth-of-type(1){
    width: 30%;
    padding: 30px 2%;
    text-align: center;
    background-color: #576975;
}
section.servicos > .container .box-servico:nth-of-type(2){
    width: 40%;
    padding: 50px 2%;
    text-align: center;
    background-color: #688293;
    background-image: none;
}
section.servicos > .container .box-servico:nth-of-type(3){
    width: 30%;
    padding: 30px 2%;
    text-align: center;
    background-color: #576975;
}

/***Termina-Box***/

section.perfil-container{
    padding: 40px 0;
}
section.perfil-container .container{
    max-width: 800px;
}
section.perfil-container .perfil-wraper{
    padding-top: 60%;
    position: relative;

}
section.perfil-container .perfil-wraper2{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
section.perfil-container .img-perfil{
    width: 40%;
    height: 100%;
    background-image: url('../img/img_perfil.png');
    background-size: 100% 100%;
}
section.perfil-container .texto-perfil{
    width: 60%;
    padding: 0 30px;
}
section.perfil-container .texto-perfil h2{
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    color: #698293;
}
section.perfil-container .texto-perfil p{
    font-size: 14px;
    margin-top: 8px;
    color: #4b4b4b;
}

/***Termina Perfil***/


section.videos{
    padding: 50px 0;
}
section.videos .box-videos{
    float: left;
    width: 33.3%;
    position: relative;
    border: 5px solid white;
    padding-top: calc(33.3% * 0.6);
}
section.videos iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/***Termina videos***/

section.tratamentos > h2{
    font-size: 18px;
    color: #698293;
    text-align: center;
}

section.tratamentos{
    padding: 70px 0;
}
section.tratamentos .container{
    padding: 80px 0;
}
section.tratamentos .tratamento-container{
    float: left;
    width: 33.3%;
}
.tratamento-sigle{
    padding: 20px;
}
.tratamentos h2{
    font-size: 18px;
    color: #737373;
}
.tratamentos p{
    padding: 10px 0;
    font-size: 13px;
    color: #b4b4b4;
}

/***Termina Tratamentos***/

section.depoimentos > h2{
    color: #698293;
    font-size: 18px;
    text-align: center; 
}
section.depoimentos > .container{
    padding: 40px 0;
    max-width: 450px;
}
sectiom.depoimentos .depoimento-single{
    text-align: center;
    padding: 0 2%;
}
.depoimento-single .nome-depoimento{
    padding: 19px 0;
}
.depoimento-single .nome-depoimento img{
    width: 32;
    height: 32;
    border-radius: 50%;
}
.nome-depoimento span{
    position: relative;
    top: 4px;
    font-size: 13px;
    color: #b4b4b4;
    display: inline-block;
    vertical-align: top;
}

/***Termina depoimentos***/

.instagram-chamada{
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background-color: #98a5ae;
}
.instagram-chamada p{
    line-height: 23px;
    color: white;
    font-size: 13px;
    padding: 10px 0;
}

.mosaico-social{
    float: left;
    width: 100%;
}
.img-mosaico-single-social{
    float: left;
    width: calc(100% / 9);
    padding-top: calc(100% / 9);
    background-color: blue;
    border: 6px solid white;
}

.fb-chamada{
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background-color: #576975;
}
.fb-chamada p{
    line-height: 23px;
    color: white;
    font-size: 13px;
    padding: 10px 0;
}

/***Termina social***/

.contato{
    padding: 60px 2%;
}
.contato > h2{
    color: #698293;
    font-size: 18px;
    text-align: center;
}
.w100{
    width: 100%;
}
.w50{
    width: 50%;
}
section.contato form{
    width: 100%;
    margin: 30px auto;
    max-width: 500px;
}
.form-wraper{
    float: left;
    margin-top: 10px;
    padding: 0 10px;
}
.form-wraper span{
    font-size: 15px;
    color: #b4b4b4;
}
.form-wraper input[type=text]{
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 9px;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-top: 8px;
}
.form-wraper textarea{
    width: 100%;
    padding: 8px;
    height: 121px;
    resize: none;
    border: 1px solid #dadada;
    border-radius: 5px;
}
.form-wraper input[type=submit]{
    width: 100%;
    height:  35px;
    border: 0;
    background-color: #688293;
    color: white;
    cursor: pointer;
}

/***Termina Contato***/

@media screen and (max-width: 1024px){

    .img-mosaico-single-social{
        width: calc(100% / 6);
        padding-top: calc(100% / 6);
    }
    .mosaico-social > div:nth-of-type(1n+7){
        display: none;
    }

}

@media screen and (max-width: 768px){

    nav.menu-desktop{
        display: none;
    }
    nav.menu-mobile{
        display: block;
    }
    section.servicos > .container{
        flex-direction: column;
        top: -15px;
    }
    section.servicos > .container .box-servico:nth-of-type(1){
        max-width: 350px;
        width: 90%;
        padding: 30px 2%;
        text-align: center;
    }
    section.servicos > .container .box-servico:nth-of-type(2){
        max-width: 390px;
        width: 94%;
        padding: 40px 2%;
        text-align: center;
        background-image: none;
    }
    section.servicos > .container .box-servico:nth-of-type(3){
        max-width: 350px;
        width: 90%;
        padding: 30px 2%;
        text-align: center;
    }
    section.perfil-container .perfil-wraper{
        padding-top: 0;
    }
    section.perfil-container .perfil-wraper2{
        position: static;
        text-align: center;
        display: inline-block;
        height: auto;
        /*flex-direction: column;*/
    }
    section.perfil-container .img-perfil{
        width: 50%;
        padding-top: 70%;
        display: inline-block;
        height: auto;
    }
    section.perfil-container .texto-perfil{
        display: inline-block;
        width: 100%;
        padding: 0 30px;
        text-align: justify;
    }
    section.perfil-container .texto-perfil h2{
        display: inline-block;
        width: 100%;
        padding: 0 30px;
        text-align: center;
    }
    section.videos{
        text-align: center;
    }
    section.videos .box-videos{
        float: none;
        display: inline-block;
        width: 70%;
        border: 5px solid white;
        padding-top: calc(70% * 0.6);
    }
    .img-mosaico-single-social{
        width: calc(100% / 3);
        padding-top: calc(100% / 3);
    }
    .mosaico-social > div:nth-of-type(1n+4){
        display: none;
    }

}
@media screen and (max-width: 580px){
    
    section.perfil-container .img-perfil{
        width: 80%;
        padding-top: 110%;
        display: inline-block;
        height: auto;
    }
    section.videos{
        text-align: center;
    }
    section.videos .box-videos{
        float: none;
        display: inline-block;
        width: 100%;
        border: 5px solid white;
        padding-top: calc(100% * 0.6);
    }
    .w50{
        width: 100%;
    }

}
@media screen and (max-width: 480px){
    
    header .logo img{
        width: 170px;
    }

}