*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html,body{
    height: 100%;
}
.clear{
    clear: both;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
header{
    padding: 20px 2%;
}
header .logo img{
    float: left;
    width: 236px;
}
header nav{
    padding: 8px 0;
    float: right;
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 20px;
}
header ul a{
    color: #b4b4b4;
    text-decoration: none;
}