*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html,body{
    height: 100%;
}
.clear{
    clear: both;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
header{
    padding: 20px 2%;
}
header .logo img{
    float: left;
    width: 236px;
}
nav.menu-mobile{
    display: none;
    float: right;
}
header nav.menu-desktop{
    padding: 8px 0;
    float: right;
}
header nav.menu-desktop ul{
    list-style-type: none;
}
header nav.menu-desktop ul li{
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 20px;
}
header ul a{
    color: #b4b4b4;
    text-decoration: none;
}

/***Termina-Header***/

.mosaico-single{
    float: left;
    width: calc(100% / 6);
}
.img-mosaico-single{
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 5px solid white;
}

/***Termina-Mosaico***/

section.servicos > .container{
    max-width: 800px;
    display: flex;
    align-items: center;
    position: relative;
    top: -30px;
    text-align: center;
}
section.servicos > .container .box-servico{
    background-image: url('../img/icone_dente.png');
    background-size: 18px 18px;
    background-position: center calc(100% - 5px);
    background-repeat: no-repeat;
}
section.servicos > .container .box-servico h2{
    color: white;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
}
section.servicos > .container .box-servico p{
    color: white;
    font-weight: normal;
    margin-top: 12px;
    font-size: 13px;
}
section.servicos > .container .box-servico:nth-of-type(1){
    width: 30%;
    padding: 30px 2%;
    text-align: center;
    background-color: #576975;
}
section.servicos > .container .box-servico:nth-of-type(2){
    width: 40%;
    padding: 50px 2%;
    text-align: center;
    background-color: #688293;
    background-image: none;
}
section.servicos > .container .box-servico:nth-of-type(3){
    width: 30%;
    padding: 30px 2%;
    text-align: center;
    background-color: #576975;
}

/***Termina-Box***/

section.perfil-container{
    padding: 40px 0;
}
section.perfil-container .container{
    max-width: 800px;
}
section.perfil-container .perfil-wraper{
    padding-top: 60%;
    position: relative;

}
section.perfil-container .perfil-wraper2{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
section.perfil-container .img-perfil{
    width: 40%;
    height: 100%;
    background-image: url('../img/img_perfil.png');
    background-size: 100% 100%;
}
section.perfil-container .texto-perfil{
    width: 60%;
    padding: 0 30px;
}
section.perfil-container .texto-perfil h2{
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    color: #698293;
}
section.perfil-container .texto-perfil p{
    font-size: 14px;
    margin-top: 8px;
    color: #4b4b4b;
}
@media screen and (max-width: 768px){

    nav.menu-desktop{
        display: none;
    }
    nav.menu-mobile{
        display: block;
    }
    section.servicos > .container{
        flex-direction: column;
        top: -15px;
    }
    section.servicos > .container .box-servico:nth-of-type(1){
        max-width: 350px;
        width: 90%;
        padding: 30px 2%;
        text-align: center;
    }
    section.servicos > .container .box-servico:nth-of-type(2){
        max-width: 390px;
        width: 94%;
        padding: 40px 2%;
        text-align: center;
        background-image: none;
    }
    section.servicos > .container .box-servico:nth-of-type(3){
        max-width: 350px;
        width: 90%;
        padding: 30px 2%;
        text-align: center;
    }
    section.perfil-container .perfil-wraper2{
        text-align: center;
        display: inline-block;
        /*flex-direction: column;*/
    }
    section.perfil-container .img-perfil{
        width: 50%;
        padding-top: 70%;
        display: inline-block;
        height: auto;
    }
    section.perfil-container .texto-perfil{
        display: inline-block;
        width: 100%;
        padding: 0 30px;
        text-align: justify;
    }
    section.perfil-container .texto-perfil h2{
        display: inline-block;
        width: 100%;
        padding: 0 30px;
        text-align: center;
    }

}
@media screen and (max-width: 580px){
    
    section.perfil-container .img-perfil{
        width: 80%;
        padding-top: 110%;
        display: inline-block;
        height: auto;
    }

}
@media screen and (max-width: 480px){
    
    header .logo img{
        width: 170px;
    }

}