*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html,body{
    height: 100%;
}
.clear{
    clear: both;
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 90vh;
    max-height: 700px;
    padding: 40px 2%;
    background-image: url('../img/capa.png');
    background-size: cover;
    background-position: center;
    font-weight: 300;
}
header .logo{
    float: left;
    width: 160px;
    height: 40px;
    background-image: url('../img/logo-danki.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
header nav{
    float: right;
}
header nav ul{
    list-style-type: none;
}
header nav li{
    float: left;
    margin: 5px 20px 0px 20px;
}
.logo{
    position: relative;
    top: -10px;
}
header nav a{
    text-decoration: none;
    color: white;
}
.chamada1{
    max-width: 600px;
    float: right;
    margin: 140px 150px;
}
.chamada1 h2{
    font-weight: 300;
    font-size: 40px;    
    color: white;
}
.chamada1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}
section.sessao1{
    width: 100%;
    background-color: #472562;
    padding: 10px 2% 0px 5%;
}
.texto-sessao1{
    float: left;
    color: white;
    width: 50%;
    margin-top: 60px;
    padding-left: 80px;
    position: relative;
    right: -100;
}
.texto-sessao1 h2{
    font-size: 26px;
    font-weight: 300;
    color: white;
}
.texto-sessao1 p{
    font-size: 15px;
    color: white;
    margin-top: 20px;
}
.texto-sessao1 ul{
    font-size: 15px;
    list-style-position: inside;
    color: white;
}
.texto-sessao1 ul li{
    float: left;
    width: 100%;
    margin-top: 5px;
    list-style-type: none;
}
.btn1-texto{
    background-color: #FF703D;
    font-size: 13px;
    width: 165px;
    height: 44px;
    color: white;
    cursor: pointer;
    margin-top: 16px;
    text-align: center;
    line-height: 44px;
    border-radius: 30px;
}
.btn1-texto:hover{
    background-color:  #ff5416;
    box-shadow: 1px 1px black;
}
.device-sessao1{
    float: left;
    width: 50%;
    height: 500px;
    background-image: url('../img/device.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    left: -150px;
    top: -100px;
}
@media screen and (max-width:1024px){
    section.sessao1{
        width: 100%;
        padding: 40px 2%;
        height: auto;
        text-align: center;
    }

    .texto-sessao1{
        width: 100%;
        margin-top: 0;
        position: static;
        float: none;
        display: inline-block;
        padding-left: 0;
    }
    .btn1-texto{
        display: inline-block;
    }
    .device-sessao1{
        display: none;
    }
    .chamada1{
        float: left;
        margin-top: 20px;        
    }
    header{
        height: auto;
    }
    
    .logo{
        display: none;
    }
    header nav{       
        float: none;
        text-align: center;
        
    }
    header a{
        text-align: center;
        margin: 0 auto;        
    }
    header ul{
        width: 100%;
        display: inline-block;
        float: none;
        text-align: center;
        margin: 0
    }
    header li{
        float: none;
        margin: 0 auto;
        text-align: center;
        
    }
}